<div class="container">
  <h1>Dashbord</h1>
  <% @product_associations.each do |product_association| %>
    <% primary_product = @products.select {|product| product.id == product_association.primary_product_id.to_i } %>
    <% associated_product = @products.select {|product| product.id == product_association.associated_product_id.to_i } %>
    <div class="d-flex justify-content-between">
      <p>Primary Product</p>
      <p>Associated Product</p>
      <p>Metrics</p>
      <p>Published</p>
    </div>

    <div class="card-product">
      <div class="mx-4">
        <img src=<%= primary_product[0].images[0].src %>>
        <%= primary_product[0].title %>
      </div>
      <div class="mx-4">
        <img src=<%= associated_product[0].images[0].src %>>
        <%= associated_product[0].title %>
      </div>
      <div class="mx-4">
        <p>Revenues: $0</p>
        <p>Conversion Rate: 0%</p>
        <p>N° of impression: 0</p>
      </div>
      <%= link_to "Published", class: "btn btn-primary"%>
    </div>

  <% end %>
  <br>
  <%= link_to "New Bundle",  new_product_association_path, class: "btn btn-primary"%>
</div>
