<div class="container">
  <div>
    <h1>Dashboard</h1>
    <%if @products == nil  %>
      <p>You have no bundle yet !</p>
      <%= link_to "Create a Bundle", new_product_association_path%>

    <%else%>
      <div class="d-flex justify-content-between">
        <p>Primary Product</p>
        <p>Associated Product</p>
        <p>Metrics</p>
        <p>Published</p>
      </div>

      <div>
        <%@product_associations.each_with_index do |product_association, index| %>
        <% primary_product = @products.select {|product| product.id == product_association.primary_product_id.to_i } %>
        <% associated_product = @products.select {|product| product.id == product_association.associated_product_id.to_i } %>

        <div class="card-product">

          <div class="product">
            <img src=<%= primary_product[0].images[0].src %>>
            <p><%= primary_product[0].title %></p>
          </div>

          <div class="product">
            <img src=<%= associated_product[0].images[0].src %>>
            <p><%= associated_product[0].title %></p>
          </div>

          <div class="metrics">
            <p>Revenues: $0</p>
            <p>Conversion Rate: 0%</p>
            <p>N° of impression: 0</p>
          </div>

          <div class="button">
           <%= link_to "Supprimer", product_association_path(product_association),class: "btn btn-outline-danger rounded p-2",
              method: :delete,
              data: {confirm: "are you sure?", product_association_id: product_association.id}%>
          </div>
          <div class="button"><!-- Toggle_ONline -->
            <input class="tgl tgl-light" id="cb<%=index%>" type="checkbox"></input>
            <label class="tgl-btn" for="cb<%=index%>"></label>
          </div>

        </div>
        <% end %>
      </div>
    <%= link_to "New Bundle",  new_product_association_path, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
