<div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header">
      <div class="Polaris-Page-Header__TitleAndRollup">
        <div class="Polaris-Page-Header__Title">
          <div>
            <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Dashboard</h1>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="Polaris-Page__Content">
      <div class="Polaris-Card">
        <div class="">
          <div class="Polaris-DataTable__Navigation"><button type="button" class="Polaris-Button Polaris-Button--disabled Polaris-Button--plain Polaris-Button--iconOnly" disabled="" aria-label="Scroll table left one column"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path>
                    </svg></span></span></span></button><button type="button" class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Scroll table right one column"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M8 16a.999.999 0 0 1-.707-1.707L11.586 10 7.293 5.707a.999.999 0 1 1 1.414-1.414l5 5a.999.999 0 0 1 0 1.414l-5 5A.997.997 0 0 1 8 16" fill-rule="evenodd"></path>
                    </svg></span></span></span></button></div>
          <div class="Polaris-DataTable">
            <div class="Polaris-DataTable__ScrollContainer">
              <table class="Polaris-DataTable__Table">
                <thead>
                  <tr>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--header" scope="col" aria-sort="none" style="height: 53px;">Product</th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric Polaris-DataTable__Cell--sortable" scope="col" aria-sort="none" style="height: 53px;"><button class="Polaris-DataTable__Heading"><span class="Polaris-DataTable__Icon"><span class="Polaris-Icon" aria-label="sort descending by"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>

                            </svg></span></span>Product 2</button></th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" aria-sort="none" style="height: 53px;"></th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric" scope="col" aria-sort="none" style="height: 53px;">Rates</th>
                    <th data-polaris-header-cell="true" class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header Polaris-DataTable__Cell--numeric Polaris-DataTable__Cell--sortable Polaris-DataTable__Cell--sorted" scope="col" aria-sort="descending" style="height: 53px;"><button class="Polaris-DataTable__Heading"><span class="Polaris-DataTable__Icon"><span class="Polaris-Icon" aria-label="sort ascending by"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>

                            </svg></span></span>Status</button></th>
                  </tr>
                  <tr>

                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed Polaris-DataTable__Cell--total" scope="row" style="height: 53px;">Totals</th>

                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total" style="height: 53px;"></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total" style="height: 53px;"></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric" style="height: 53px;">255</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--total Polaris-DataTable__Cell--numeric" style="height: 53px;">$155,830.00</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="Polaris-DataTable__TableRow">
                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px;">Emerald Silk Gown</th>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$875.00</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">124689</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">140</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$122,500.00</td>
                  </tr>
                  <tr class="Polaris-DataTable__TableRow">
                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 72px;">Mauve Cashmere Scarf</th>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$230.00</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">124533</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">83</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 72px;">$19,090.00</td>
                  </tr>
                  <tr class="Polaris-DataTable__TableRow">
                    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row" style="height: 112px;">Navy Merino Wool Blazer with khaki chinos and yellow belt</th>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 112px;">$445.00</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 112px;">124518</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 112px;">32</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric" style="height: 112px;">$14,240.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h1>Dashboard</h1>
    <%if @products == nil  %>
      <p>You have no bundle yet !</p>
      <%= link_to "Create a Bundle", new_product_association_path%>

    <%else%>
      <div>
        <%@product_associations.each_with_index do |product_association, index| %>
        <% primary_product = @products.select {|product| product.id == product_association.primary_product_id.to_i } %>
        <% associated_product = @products.select {|product| product.id == product_association.associated_product_id.to_i } %>

        <div class="card-product" id="<%= product_association.id %>">

          <div class="product">
            <img src=<%= primary_product[0].images[0].src %>>
            <p><%= primary_product[0].title %></p>
          </div>

          <div class="product">
            <img src=<%= associated_product[0].images[0].src %>>
            <p><%= associated_product[0].title %></p>
          </div>

          <div class="metrics">
            <p>Revenues: $0</p>
            <p>Conversion Rate: 0%</p>
            <p>N° of impression: 0</p>
          </div>

          <div class="button">
           <%= link_to "Supprimer", product_association_path(product_association),class: "btn btn-outline-danger rounded p-2",
              method: :delete,
              remote:true,
              data: {confirm: "are you sure?", product_association_id: product_association.id}%>
          </div>
          <%= form_for product_association, as: :patch, url: toggle_online_path(product_association), remote:true do |f| %>
              <div class="button" id=<%="onoff"%>><!-- Toggle_ONline -->
              <input class="tgl tgl-light" id="cb<%=index%>" type="checkbox" name="published" <%= "checked" if product_association.published == true %>></input>
              <label class="tgl-btn" for="cb<%=index%>"></label>
              <%= f.submit 'Ready', class:"button_submit d-none" %>
            </div>
          <% end %>

        </div>
        <% end %>
      </div>
    <%= link_to "New Bundle",  new_product_association_path, class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

<script>
  const online = document.querySelectorAll('input.tgl');
  online.forEach(function(element) {
    element.addEventListener("change", (event) => {
      event.currentTarget.closest("form").querySelector('.button_submit').click()
    });
  });
</script>
