<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h1>Select your bundle's products</h1>

<div class="d-flex justify-content-around">
  <div>
    <% @products.each do |product| %>
      <div class="card-product m-3">
        <img src=<%= product.images[0].src %>>
        <div class="card-product-infos">
          <h2>
            <li><%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li>
          </h2>
          <p><%= product.variants[0].price %> €</p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <% @products.each do |product| %>
      <div class="card-product m-3">
        <img src=<%= product.images[0].src %>>
        <div class="card-product-infos">
          <h2>
            <li><%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li>
          </h2>
          <p><%= product.variants[0].price %> €</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
